
<!DOCTYPE HTML>
<html>
 <head>
  <title>后台管理系统</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="../public/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
  <link href="../public/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
   <link href="../public/assets/css/main-min.css" rel="stylesheet" type="text/css" />
   
 </head>
 <body>

  <div class="header">
    
      <div class="dl-title text-warning text-center">
       <!--<img src="/chinapost/Public/assets/img/top.png">-->
       	<!--<span class="text-success text-center">欢迎来到教务系统</span>-->
      </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user" id="user">student</span><a href="../index.php?class=User&action=logout" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
  </div>
   <div class="content">
    <div class="dl-main-nav">
      <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
      <ul id="J_Nav"  class="nav-list ks-clear">
        		<li class="nav-item dl-selected"><div class="nav-item-inner nav-home">学生选课系统</div></li>		       
				
      </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
   </div>
  <script type="text/javascript" src="../public/assets/js/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="../public/assets/js/bui-min.js"></script>
  <script type="text/javascript" src="../public/assets/js/common/main-min.js"></script>
  <script type="text/javascript" src="../public/assets/js/config-min.js"></script>
  <script>
    BUI.use('common/main',function(){
      var config = [{id:'1',menu:[{text:'信息管理',items:[{id:'12',text:'课程信息',href:'student/course.html'},{id:'3',text:'选定课程',href:'student/changeCourse.html'},{id:'4',text:'查看成绩',href:'student/grades.html'},{id:'5',text:'修改个人信息',href:'student/information.html'}]}]}
      ];
      new PageUtil.MainPage({
        modulesConfig : config
      });
    });
      $.ajax({
    	type:"get",
    	url:"http://localhost/xuankexitong/model/logSession.php",
    	success:function(res){
    		console.log(res);
    		if(res==1){
    			alert("尚未登陆");
    			window.location.href="signin.html";
    		}else if(res[1]!=3){
    			alert("非学生账号");
    			window.location.href="signin.html";
    		}else{
    			$("#user").text(res[0]);
    		}
    	}
    });
  </script>
 </body>
</html>